@font-face {
    font-family: 'Kimochi';
    src: url('../assets/fonts/kimochi.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('../assets/fonts/NotoSansJP-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RadetsMedium';
    src: url('../assets/fonts/radets-regular.ttf') format('truetype');
}

body {
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

.japanese, .kanji, .haiku, .card-kanji, .neon-kanji {
    font-family: var(--font-japanese);
}