:root {
    /*[ COULEURS PRINCIPALES ]*/
    --beige: #FCF5CB;
    --gris-fonce: #0B070E;
    --bleu-nuit: #04252D;
    --bleu-pale: #21DDDE;
    --mauve: #291936;
    --mauve-clair: #433757;
    /*[ COULEURS ACCENT ]*/
    --rose-fonce: #FD27BA;
    --rose-pale: #FC7AD3;
    --cyan: #0C748D;

    /*[ TEXTE ]*/
    --texte-couleur-blanc: #F9F8F1;
    --texte-couleur-noir: #0B070E;

    /*[ BOUTON ]*/
    --boutton-couleur: #FD27BA;
    --boutton-couleur-hover: #FC7AD3;

    /*[ UI ]*/
    --rayon: 8px;
    --espace-petit: 8px;
    --espace-moyen: 16px;
    --espace-grand: 32px;

    /*[ TYPOGRAPHIE ]*/
    --texte-xs: 12px;
    --texte-petit: 14px;
    --texte-normal: 16px;
    --texte-moyen: 20px;
    --texte-grand: 24px;
    --texte-titre: 32px;
}