/*[ VARIABLES DU PROJET ]*/
/* ------------------------------------------------------------ */
:root {
    /*[ COULEURS PRINCIPALES ]*/
    --blanc-casse: #f2f0ef;
    --gris-fonce: #161412;
    --bleu-nuit: #00313F;
    --bleu-pale: #00738E;

    /*[ COULEURS ACCENT ]*/
    --rose-fonce: #C3017E;
    --rose-pale: #FF28B9;
    --cyan: #00DADB;

    /*[ TEXTE ]*/
    --texte-couleur-blanc: #ffffff;
    --texte-couleur-noir: #000000;

    /*[ BOUTON ]*/
    --boutton-couleur: #C3017E;
    --boutton-couleur-hover: #FF28B9;

    /*[ UI ]*/
    --rayon: 8px;
    --espace-petit: 8px;
    --espace-moyen: 16px;
    --espace-grand: 32px;

    /*[ TYPOGRAPHIE ]*/
    --texte-xs: 12px;
    --texte-petit: 14px;
    --texte-normal: 16px;
    --texte-moyen: 20px;
    --texte-grand: 24px;
    --texte-titre: 32px;
}