.page-404{
    background: var(--gris-fonce);
    color: var(--texte-couleur-blanc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--hauteur-pleine);
    text-align: center;
}

.erreur-container{
    max-width: var(--largeur-max-section);
}

.erreur-code{
    font-size: var(--taille-police-erreur);
    font-weight: bold;
    color: var(--rose-fonce);
}

.erreur-titre{
    font-size: var(--texte-titre);
    margin: var(--espacement-moyen) 0;
}

.erreur-texte{
    font-size: var(--texte-normal);
    margin-bottom: var(--espacement-grand);
}

.btn-retour{
    background: var(--boutton-couleur);
    color: white;
    padding: var(--espacement-petit) var(--espacement-grand);
    border-radius: var(--rayon);
    text-decoration: none;
    transition: 0.3s;
}

.btn-retour:hover{
    background: var(--boutton-couleur-hover);
}