/*[ COMPOSANT HEADER ]*/
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* VIDEO cachée par défaut */
#hero-video {
    display: none;
}

/* IMAGE visible par défaut */
#img--background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* À partir de 680px */
@media (min-width: 680px) {

    #hero-video {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    #img--background {
        display: none;
    }
}


/* MENU */

.menu-icon {
    position: absolute;
    top: var(--largeur-ligne);
    left: var(--espacement-grand);
    scale: var(--echelle-icon);
    color: var(--texte-couleur-blanc);
    cursor: pointer;
    z-index: 10;
}

.menu-icon:hover {
    color: var(--rose-fonce);
    transform: scale(var(--echelle-hover));
    transition: 0.2s;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}