/*[ COMPOSANT HEADER ]*/
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

header{
    position: relative;
    height: 100vh;
    min-height: 700px;
}

/* MENU */

.menu-icon {
    position: absolute;
    top: 40px;
    left: 20px;
    color: var(--texte-couleur-noir);
    cursor: pointer;
    z-index:10;
    transform: scale(1.5);
}

.menu-icon:hover {
    color: var(--rose-pale);
    transform: scale(2);
    transition: 0.2s;
}