/*[ COMPOSANT HEADER ]*/
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

<<<<<<< HEAD
header{
    position: relative;
    height: 100vh;
    min-height: 700px;
}

=======
/* VIDEO cachée par défaut */
#hero-video {
    display: none;
}

/* IMAGE visible par défaut */
#img--background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* À partir de 680px */
@media (min-width: 680px) {

    #hero-video {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    #img--background {
        display: none;
    }
}

@media (min-width: 576px) {
    .menu-icon {
        scale: 2.5; 
    }
}

@media (min-width: 768px) {
    .menu-icon {
        scale: 2; 
    }
}

@media (min-width: 992px) {
    .menu-icon {
        scale: 1.5; 
    }
}


>>>>>>> beta
/* MENU */

.menu-icon {
    position: absolute;
<<<<<<< HEAD
    top: 40px;
    left: 20px;
    color: var(--texte-couleur-noir);
    cursor: pointer;
    z-index:10;
    transform: scale(1.5);
=======
    top: var(--largeur-ligne);
    left: var(--espacement-grand);
    scale: var(--echelle-icon);
    color: var(--texte-couleur-blanc);
    cursor: pointer;
    z-index: 10;
>>>>>>> beta
}

.menu-icon:hover {
    color: var(--rose-pale);
<<<<<<< HEAD
    transform: scale(2);
    transition: 0.2s;
=======
    transform: scale(var(--echelle-hover));
    transition: 0.2s;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
>>>>>>> beta
}