/* Conteneur */
.nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--blanc-casse);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease;
    z-index: 100;
}

.nav-menu.open{
    height: 100vh;
}

/* Liste */
.nav-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Items */
.nav-menu li{
    margin: 25px 0;
}

.nav-menu a{
    position: relative;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--gris-fonce);
    letter-spacing: 1px;
    padding: 10px 20px;
    display: inline-block;

    opacity: 0;
    transform: translateY(30px);
    transition: 
        opacity 0.4s ease,
        transform 0.4s ease,
        color 0.3s ease;
}

/* Animation apparition */
.nav-menu.open a{
    opacity: 1;
    transform: translateY(0);
}

/* Effet ligne élégante */
.nav-menu a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--rose-fonce);
    transition: 0.3s ease;
    transform: translateX(-50%);
}

/* Hover */
.nav-menu a:hover{
    color: var(--rose-fonce);
}

.nav-menu a:hover::after{
    width: 100%;
}



.nav-close{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 40px;
    cursor: pointer;
    color: var(--gris-fonce);
    transition: 0.2s;
}

.nav-close:hover{
    color: var(--rose-fonce);
    transform: rotate(90deg) scale(1.1);
}