/* ------------------------------------------------ */
/* PANNEAU DE NAVIGATION */
/* ------------------------------------------------ */

.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--blanc-casse);
    overflow-y: auto;
    transition: height 0.6s ease;
    z-index: 100;
}

.nav-menu ul {
    list-style: none;
    text-align: center;
    margin-top: 80px;
    padding: 0;
}

.nav-menu li {
    margin: 14px 0;
}

.nav-menu a {
    text-decoration: none;
    font-size: var(--texte-moyen);
    color: var(--gris-fonce);
    display: block;
}

.nav-menu li a {
    opacity: 0;
}

.nav-titre {
    font-size: var(--texte-titre);
    font-weight: bold;
    margin-top: 40px;
    color: var(--gris-fonce);
}

.nav-menu li a:hover {
    color: var(--blanc-casse);
    background-color: var(--rose-fonce);
    transform: scale(1.1);
}

.fadeMenu {
    opacity: 0;
}

.nav-close {
    position: absolute;
    top: 40px;
    left: 20px;
    transform: scale(1.5);
    cursor: pointer;
    color: var(--texte-couleur-noir);
    z-index: 10;
    transition: 0.2s;
}

.nav-close:hover {
    color: var(--rose-pale);
    transform: scale(2);
}