.presentation {
    position: relative;
    /* IMPORTANT */
    text-align: center;
    padding: var(--espace-grand);
    background: var(--gris-fonce);
    color: var(--texte-couleur-blanc);
    overflow: hidden;
}

/* Texture */
.presentation::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(0deg,
            transparent,
            transparent 2px,
            rgba(0, 245, 255, 0.015) 2px,
            rgba(0, 245, 255, 0.015) 4px);
    pointer-events: none;
    z-index: -1;
}

.presentation h2 {
    font-size: var(--texte-titre);
    color: var(--rose-fonce);
    margin-bottom: var(--espace-moyen);
}

.presentation-texte {
    font-size: var(--texte-normal);
    line-height: 1.6;
    color: var(--blanc-casse);
    margin-bottom: var(--espace-grand);
}

.chef-image {
    display: flex;
    justify-content: center;
}

.chef-image img {
    width: var(--pourcentage-largeur);
    max-width: var(--largeur-max-video);
}

.btn-accomplissements {
    margin-top: var(--espace-grand);
    position: relative;
    background: transparent;
    color: var(--rose-fonce);
    font-size: var(--texte-normal);
    letter-spacing: 0.15em;
    border: var(--epaisseur-bordure) solid var(--rose-fonce);
    padding: var(--espacement-petit) var(--espacement-grand);
    cursor: pointer;
    overflow: hidden;
    transition: color 0.35s ease, box-shadow 0.3s ease;
}

.btn-accomplissements::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--rose-fonce);
    transform: scaleX(0);
    transform-origin: upper right;
    transition: transform 0.35s ease;
    z-index: -1;
}

.btn-accomplissements:hover::before {
    transform: scaleX(1);
}

.btn-accomplissements:hover {
    color: var(--texte-couleur-blanc);
    box-shadow: 0 0 25px var(--rose-fonce);
    z-index: 1;
}

/* MEDIA QUERIES */

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
    .presentation h2 {
        font-size: 2.5rem;
        /* Larger title */
    }

    .presentation-texte {
        font-size: 1.1rem;
        /* Slightly larger text */
    }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
    .presentation {
        padding: var(--espace-grand) var(--espace-moyen);
    }

    .chef-image img {
        max-width: 600px;
        /* Larger image */
    }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
    .presentation {
        margin: 0 auto;
    }

    .presentation h2 {
        font-size: 3rem;
    }

    .presentation-texte {
        font-size: 1.2rem;
        max-width: 800px;
        margin: 0 auto var(--espace-grand);
    }
}