.promo{
    text-align: center;
    padding: var(--espace-grand);
    background: var(--gris-fonce);
    color: var(--texte-couleur-blanc);
}

.promo-image{
    width: var(--taille-police-erreur);
    height: var(--taille-police-erreur);
    margin: 0 auto var(--espace-moyen);
    background: var(--bleu-pale);
    border-radius: var(--rayon);

    box-shadow: 0 0 15px var(--bleu-pale);
}

.promo h2{
    font-size: var(--taille-police-titre-special);
    font-weight: bold;
    color: var(--rose-fonce);
}

.promo p{
    color: var(--blanc-casse);
}