/* SECTION SPECIALITES */

.specialites {
    text-align: center;
    padding: var(--espace-grand);
    background: var(--mauve-clair);
}

.specialites h2 {
    font-size: var(--texte-titre);
    margin-bottom: var(--espace-grand);
    color: var(--bleu-pale);
}


/* CARDS */

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espace-grand);
}

.card {
    width: var(--largeur-carte);
    height: var(--hauteur-carte);
    background: var(--mauve);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--rayon);
    border: var(--epaisseur-bordure) solid var(--rose-fonce);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border-color 0.3s ease;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 0px 25px var(--rose-pale);
    border-color: var(--rose-pale);
}

.card p {
    font-size: var(--texte-petit);
    margin-bottom: var(--espacement-tres-petit);
    color: var(--texte-couleur-blanc);
}

.ligne {
    width: var(--largeur-ligne);
    height: var(--hauteur-icone);
    background: var(--blanc-casse);
    margin-bottom: var(--espacement-petit);
}

.card i {
    font-size: var(--texte-grand);
}

.icon-sushi {
    width: var(--largeur-icone);
    height: var(--largeur-icone);
    filter: brightness(0) invert(1);
}

.icon-grill {
    width: var(--largeur-icone);
    height: var(--largeur-icone);
    filter: brightness(0) invert(1);
}

.icon-vin {
    width: var(--largeur-icone);
    height: var(--largeur-icone);
    filter: brightness(0) invert(1);
}


/* BOUTON */

.btn-menu {
    margin-top: var(--espace-grand);
    background: var(--cyan);
    color: var(--texte-couleur-blanc);
    font-size: var(--texte-normal);
    border: none;
    padding: var(--espacement-petit) var(--espacement-grand);
    border-radius: var(--rayon);
    cursor: pointer;
}

.btn-menu:hover {
    transform: scale(1.08);
    box-shadow: 0 0px 25px var(--cyan);
    border-color: var(--rose-pale);
}

/* MEDIA QUERIES */

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        flex: 1 1 calc(50% - var(--espace-moyen)); /* Two cards per row */
        max-width: calc(50% - var(--espace-moyen));
    }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
    .card {
        flex: 1 1 calc(33.333% - var(--espace-moyen)); /* Three cards per row */
        max-width: calc(33.333% - var(--espace-moyen));
    }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
    .card {
        flex: 1 1 calc(25% - var(--espace-moyen)); /* Four cards per row */
        max-width: calc(25% - var(--espace-moyen));
    }
}