.suivez-nous {
    text-align: center;
    padding: var(--espace-grand);
    background: var(--bleu-nuit);
    color: var(--texte-couleur-blanc);
}

.suivez-nous h2 {
    font-size: var(--texte-titre);
    margin-bottom: var(--espace-grand);
    color: var(--neon-cyan);
    text-shadow: 0 0 8px var(--bleu-pale);
    text-transform: uppercase;
}

.suivez-nous p {
    margin-bottom: var(--espace-moyen);
    color: var(--blanc-casse);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--espace-moyen) 0;
}

.video-container iframe {
    width: 100%;
    max-width: var(--largeur-max-video);
    aspect-ratio: 16 / 9;
    border-radius: var(--rayon);

    box-shadow: 0 0 15px var(--cyan);
}

.reseaux {
    display: flex;
    flex-direction: column;
    gap: var(--espace-petit);
}

.reseaux button {
    margin-top: var(--espace-grand);
    position: relative;
    background: transparent;
    color: var(--rose-fonce);
    font-size: var(--texte-normal);
    letter-spacing: 0.15em;
    border: var(--epaisseur-bordure) solid var(--rose-fonce);
    padding: var(--espacement-petit) var(--espacement-grand);
    cursor: pointer;
    overflow: hidden;
    transition: color 0.35s ease, box-shadow 0.3s ease;
}

.reseaux button:hover {

    box-shadow: 0 0 15px var(--rose-fonce);
    transform: scale(1.02);
}

/* MEDIA QUERIES */

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
    .reseaux {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .reseaux button {
        flex: 1 1 auto;
        max-width: 200px;
    }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
    .video-container iframe {
        max-width: 800px;
    }

    .reseaux button {
        max-width: 250px;
    }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
    .suivez-nous {
        margin: 0 auto;
    }

    .video-container iframe {
        max-width: 1000px;
    }

    .reseaux button {
        max-width: 300px;
    }
}